build/*
tags
.DS_Store
arch.text
*rns
compile_commands.json
.ccls-cache/*
**/data/**/*.png*
**/data/**/*.jpg*
**/data/**/*.bmp*
**/data/**/*.zip*
data/audio/*

**/data/**/*.mp3*
**/data/**/*.mp4*
**/data/**/*.wav*
holy_grail*/
third_party*/
