{
  "states": [
    {
      "state_num": 1,
      "state_name": "IDLE",
      "flags": [ ],
      "update_script": "{if(#get_anim_time == 0) {#reset_anim;}}",
      "animation": [
        { "file": "../data/characters/alucard/sprites/98.png", "time": 10, "offsetX": 115},
        { "file": "../data/characters/alucard/sprites/99.png", "time": 10, "offsetX": 115}, 
        { "file": "../data/characters/alucard/sprites/100.png", "time": 10, "offsetX": 115}
      ],
      "collision_boxes": [
        {"type": "POSITION", "width":60, "height":75, "offsetX":0, "offsetY": 0, "start": 1, "end": -1},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 2,
      "state_name": "WALK_F",
      "flags": [ ],
      "update_script": "{if(#get_anim_time == 0) {#reset_anim;}}",
      "animation": [
        { "file": "../data/characters/alucard/sprites/1.png", "time": 7, "offsetX": 125 },
        { "file": "../data/characters/alucard/sprites/2.png", "time": 7, "offsetX": 125 },
        { "file": "../data/characters/alucard/sprites/3.png", "time": 7, "offsetX": 125 },
        { "file": "../data/characters/alucard/sprites/4.png", "time": 7, "offsetX": 125 },
        { "file": "../data/characters/alucard/sprites/3.png", "time": 7, "offsetX": 125 },
        { "file": "../data/characters/alucard/sprites/2.png", "time": 7, "offsetX": 125 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 3,
      "state_name": "WALK_B",
      "flags": [ ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/2.png", "time": 14, "offsetX": 135 },
        { "file": "../data/characters/alucard/sprites/1.png", "time": 14, "offsetX": 135 },
        { "file": "../data/characters/alucard/sprites/3.png", "time": 14, "offsetX": 135 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 4,
      "state_name": "CROUCH",
      "flags": [ ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/0.png", "time": 60, "offsetX": 115 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":100, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 5,
      "state_name": "JUMP_N",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/5.png", "time": 4, "offsetX": 115 },
        { "file": "../data/characters/alucard/sprites/6.png", "time": 20, "offsetX": 115 },
        { "file": "../data/characters/alucard/sprites/7.png", "time": 200, "offsetX": 115 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 6,
      "state_name": "JUMP_F",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/9.png", "time": 4, "offsetX": 115 },
        { "file": "../data/characters/alucard/sprites/8.png", "time": 13, "offsetX": 115 },
        { "file": "../data/characters/alucard/sprites/54.png", "time": 200, "offsetX": 115 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 7,
      "state_name": "JUMP_B",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/5.png", "time": 4, "offsetX": 115 },
        { "file": "../data/characters/alucard/sprites/9.png", "time": 20, "offsetX": 115 },
        { "file": "../data/characters/alucard/sprites/7.png", "time": 200, "offsetX": 115 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 8,
      "state_name": "STAND_P",
      "flags": [
        "NO_TURN"
      ],
      "cancel_script": "",
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/14.png", "time": 2, "offsetX": 115},
        { "file": "../data/characters/alucard/sprites/13.png", "time": 2, "offsetX": 140},
        { "file": "../data/characters/alucard/sprites/23.png", "time": 3, "offsetX": 165},
        { "file": "../data/characters/alucard/sprites/13.png", "time": 4, "offsetX": 140},
        { "file": "../data/characters/alucard/sprites/14.png", "time": 4, "offsetX": 115}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HIT", "hitstun":12, "hitstop": 12, "damage":5, "push": 4, "hitscript": 1, "start": 5, "end": 8, "width":60, "height":60, "offsetX":60, "offsetY": 125},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0},
        {"type": "HURT", "start": 5, "end": 12, "width":50, "height":50, "offsetX":50, "offsetY": 125}
      ]
    },
    {
      "state_num": 9,
      "state_name": "HURT",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/90.png", "time": 99, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/92.png", "time": 1, "offsetX": 75}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 10,
      "state_name": "DASH_F",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/11.png", "time": 4, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/19.png", "time": 8, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/12.png", "time": 4, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/19.png", "time": 8, "offsetX": 75}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 11,
      "state_name": "DASH_B",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/10.png", "time": 11, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/9.png", "time": 12, "offsetX": 75}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 11, "end": 23, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 12,
      "state_name": "AIR_DASH_F",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/104.png", "time": 45, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/105.png", "time": 15, "offsetX": 75}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 13,
      "state_name": "AIR_DASH_B",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/105.png", "time": 45, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/104.png", "time": 15, "offsetX": 75}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 14,
      "state_name": "UP_SLASH",
      "flags": [
        "NO_TURN"
      ],
      "cancel_script": "",
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/68.png", "time": 12, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/69.png", "time": 2, "offsetX": 77},
        { "file": "../data/characters/alucard/sprites/70.png", "time": 2, "offsetX": 81},
        { "file": "../data/characters/alucard/sprites/71.png", "time": 6, "offsetX": 186},
        { "file": "../data/characters/alucard/sprites/72.png", "time": 6, "offsetX": 75},
        { "file": "../data/characters/alucard/sprites/73.png", "time": 6, "offsetX": 75}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HIT", "hitstun":28, "hitstop": 18, "damage":15, "push": 8, "hitscript": 1, "start": 17, "end": 23, "width":150, "height":75, "offsetX":50, "offsetY": 150},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 15,
      "state_name": "STAND_K",
      "flags": [
        "NO_TURN"
      ],
      "cancel_script": "",
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/39.png", "time": 4, "offsetX": 150},
        { "file": "../data/characters/alucard/sprites/40.png", "time": 7, "offsetX": 225},
        { "file": "../data/characters/alucard/sprites/39.png", "time": 6, "offsetX": 150}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HIT", "hitstun":22, "hitstop": 16, "damage":15, "push": 8, "hitscript": 1, "start": 5, "end": 8, "width":175, "height":60, "offsetX":50, "offsetY": 110},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":50, "height":175, "offsetX":50, "offsetY": 0},
        {"type": "HURT", "start": 5, "end": 13, "width":200, "height":75, "offsetX":50, "offsetY": 110}
      ]
    },
    {
      "state_num": 16,
      "state_name": "JUMP_S",
      "flags": [
        "NO_TURN"
      ],
      "cancel_script": "",
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/55.png", "time": 8, "offsetX": 175},
        { "file": "../data/characters/alucard/sprites/58.png", "time": 2, "offsetX": 175},
        { "file": "../data/characters/alucard/sprites/57.png", "time": 15, "offsetX": 175}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HIT", "hitstun":22, "hitstop": 16, "damage":15, "push": 8, "hitscript": 1, "start": 11, "end": 14, "width":150, "height":50, "offsetX":50, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 17,
      "state_name": "JUMP_R",
      "flags": [
        "NO_TURN"
      ],
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/7.png", "time": 200, "offsetX": 75 }
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    },
    {
      "state_num": 18,
      "state_name": "JUMP_P",
      "flags": [
        "NO_TURN"
      ],
      "cancel_script": "",
      "update_script": "",
      "animation": [
        { "file": "../data/characters/alucard/sprites/53.png", "time": 4, "offsetX": 175},
        { "file": "../data/characters/alucard/sprites/52.png", "time": 4, "offsetX": 175}
      ],
      "collision_boxes": [
        {"type": "POSITION", "start": 1, "end": -1, "width":60, "height":75, "offsetX":0, "offsetY": 0},
        {"type": "HURT", "start": 1, "end": -1, "width":100, "height":200, "offsetX":-50, "offsetY": 0}
      ]
    }
  ],
  "command_script": "{var forward = #was_pressed 6; if(forward == true){print \"forward held\";}}",
   
  "hitscripts": [
    { "script_num": 1, "screenFreeze": 8, "damage": 5} 
  ]
}
{
  var stateNum = #get_state_num; 
  var neutral = #was_pressed 5; 
  var down = #was_pressed 2; 
  var forward = #was_pressed 6; 
  var back = #was_pressed 4; 

  if(neutral == true and stateNum != 1){
    #change_state 1; 
  }
  if(forward == true and stateNum != 2){
    #change_state 2; 
  }
  if(back == true and stateNum != 3){
    #change_state 3; 
  }
}

